[mysql-proxy]
admin-username=admin
admin-password=admin_password
admin-lua-script=/usr/local/mysql-proxy/lib/mysql-proxy/lua/admin.lua
log-level=message
log-path=./log
plugin-dir=./lib
daemon=false
keepalive=false
event-threads=2
instance=3470
proxy-address=0.0.0.0:13470
admin-address=0.0.0.0:23470
proxy-backend-addresses=192.168.1.1:3306
proxy-read-only-backend-addresses=192.168.1.2:3306
client-ips=127.0.0.1,192.168.1,192.168.2.35
lvs-ips=192.168.0.1
pwds=user_name:user_password
charset=utf8
sql-log=ON
max_conn_for_a_backend=0
wait-timeout=60
