[mysql-proxy]
online = true

plugins = admin, proxy

admin-username = zc
admin-password = zc
admin-lua-script = /usr/local/mysql-proxy/lib/mysql-proxy/lua/admin.lua

proxy-lua-script = /usr/local/mysql-proxy/lib/mysql-proxy/lua/rw-splitting.lua
proxy-backend-addresses = 192.168.0.172:3306
proxy-read-only-backend-addresses = 127.0.0.1:3306,192.168.0.171:3306

daemon = true
keepalive = true

event-threads = 16
log-level = debug
log-path = /usr/local/mysql-proxy/log

admin-address = 127.0.0.1:4041
